/* HERO */
.hero {
    height: 10vh;
}
.hero__main {
    height: fit-content;
    color: black;
}
/* RECIPE */
.container {
    width: 90%;
    margin: 0 auto;
}
.recipe_title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: var(--red);
    font-size: 2.4rem;
}
.recipe_diet {
    text-align: center;
    font-size: 1.8rem;
    font-style: italic;
}
.photo {
    display: flex;
    margin: 1.4rem 0 0;
}
.photo img {
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid var(--red);
}
/* RECIPE CONTAIN */    
.servings {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
.title {
    font-size: 2.4rem;
    text-align: center;
    color: var(--red);
}
.subtitle {
    font-size: 2rem;
    margin: .5rem 2rem;
}
.list {
    font-size: 1.6rem;
    margin: .5rem 1rem;
    list-style-position : inside;
}
.method_list {
    font-size: 1.6rem;
    margin: .5rem 1rem;
    text-align: justify;
    list-style-position : inside;
}   
.method_list li {
    padding: .5rem 0;
} 

@media (min-width: 768px) {
    .container section {
        margin-top: 2rem;
    }
    .recipe {
        width: 60%;
        margin: 0 auto;
    }
    
}
@media (min-width: 1024px) {
    .nav_container {
        left: 50%;
        width: 50%;
    }
    .container {
        width: 95%;
    }
    .recipe {
        height: 100%;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 30% 30%;
        grid-template-rows: 2% 50% 45%;
        gap: 1rem;
    }
    .recipe_title {
        font-size: 3rem;
    }
    .recipe_diet {
        font-size: 2rem;
    }
    .servings {
        font-size: 1.6rem;
        text-align: left;
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 1rem;
    }
    .photo {
        grid-column: 1/2;
        grid-row: 1/3;
        margin: 0;
    }
    .photo img {
        width: 100%;
        margin: 0;
        object-fit: cover;
    }
    .ingredients {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: 1rem;
    }
    .utensils {
        grid-column: 3/4;
        grid-row: 2/3;
        margin-top: 1rem;
    }
    .method {
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top: 1rem;
    }
    .title {
        font-size: 2.4rem;
    }
    .subtitle {
        font-size: 2rem;
    }
    .list, .method_list {
        font-size: 1.6rem;
    }
}

@media (min-width: 1440px) {
    .recipe {
        grid-template-columns: 1fr 30% 25%;
        grid-template-rows: 2% 50% 1fr;
    }
    .photo img {
        width: 80%;
        margin: 0 auto;
    }
    .footer {
        height: 10vh;
    }
}