.hero {
    height: 10vh;
}
.hero__main {
    height: fit-content;
    color: black;
}
.recipe-book {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipe-book .recipes {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-color: skyblue;

}
.recipes .photos {
    width: 100%;
    height: 100%;
}
.photos img {
   width: 90%;

}
.recipe_description {
    /* height: 30vh;
    width: 100vw; */
    text-align: center;

    background-color: blueviolet;
}

.recipe_btn {
    font-size: 1.8rem;
    margin: 1rem 0rem;

}
.recipe_btn {
    width: 50%;
    height: 3.5rem;
    border: var(--red) solid 2px;
    border-radius: 20px;
    text-align: center;
    color: var(--red);
    text-decoration: none;
    display: inline-block;
}
.recipe_btn:hover {
    background-color: var(--red);
    color: white;
}