.hero {
    height: 10vh;
}
.hero__main {
    height: fit-content;
    color: black;
}
.recipe-book {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recipe-book .recipes {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.recipes .photos {
    width: 100%;
    height: 60%;
}
.photos img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 2px var(--red) solid;
}
.recipe_description {
    width: 100%;
    text-align: center;
}
.recipe_description h2 {
    font-size: 2.8rem;
}
.recipe_description p {
    font-size: 2rem;
    margin: 1rem 0;
}
.recipe_btn {
    font-size: 1.8rem;
    margin: 1rem 0rem;

}
.recipe_btn {
    width: 50%;
    height: 3.5rem;
    border: var(--red) solid 2px;
    border-radius: 20px;
    text-align: center;
    color: var(--red);
    text-decoration: none;
    display: inline-block;
}
.recipe_btn:hover {
    background-color: var(--red);
    color: white;
}

@media (min-width: 768px) {
    .recipe-book .recipes {
        flex-direction: row; 
    }
    .recipe_description {
        height: 300px;
        text-align: left;
        padding: 3rem 2rem;
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .nav_container {
        left: 50%;
        width: 50%;
    }
    .recipe-book .recipes {
        width: 70%;
        margin-bottom: 50px;
    }
}

@media (min-width: 1440px) {
    .recipes {
        margin-top: 5rem ;
    }
    .recipes .photos {
        height: 400px;
    }
    .recipe_description {
        padding: 3rem 5rem;
    }
    .photos img {
        height: 100%;
    }
    .footer {
        height: 30vh;
    }
}