* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --white: #fff;
    --red: #BB053A;
    --black: #110F0F;
    --gray: #F6F6F6;
}
html {
    font-size: 62.5%;
}

/* .hero {
    background-image: url("/images/citric-cake/citric-cake_S.jpg");
    background-size: cover;
    background-position: center;
    background-color: #fff;
    height: 80vh;
    
    min-height: 300px;
    
    border: red 2px solid;
    color: var(--white);
} */
.hero {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero::before {    
    content: "";
    background-image: url("/images/citric-cake/citric-cake_S.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 100
    px;
    left: 0px;
    opacity: 0.75;
}

.nav_container {
    position: relative;
    color: #ffffff;  
    font-size: 1.4rem;

    border: purple 2px solid;
}
.nav_container img {
    width: 100px;
    height: 100px;
}
.nav_list {
    border: pink 2px solid;
}
.nav_element {
    border: blue 2px solid;
}
.nav_link {
    border: green 2px solid;
}
.hero__main {
    position: relative;
    color: #ffffff;  
    font-size: 1.4rem;
    
    border: yellowgreen 2px solid;
}