* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --red: #BB053A;
    --black: #110F0F;
    --gray: #F6F6F6;
}
html {
    font-size: 62.5%;
}

/* font-family: 'Neuton', serif; 400 y 500
font-family: 'Playfair Display', serif; */
body {
    position: relative;
    font-family: 'Neuton', serif;
    background-color: var(--gray);

}
                /* HERO */
.hero {
    height: 100vh;
    position: relative;
}
.hero__main {
    background: url("./../images/citric-cake/citric-cake_S.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    height: 65vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.fa-bars{
    font-size: 2.8rem;
    margin: 20px;
}
.nav_container {
    background-color: #eeecec;
    width: 170px;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: -180px;
    transition: all 1.5s;
}
.fa-circle-xmark {
    font-size: 2.5rem;
    margin: 10px;
}
.nav_container ul li {
    margin: 10px;
    list-style: none;
    cursor: pointer;
    text-align: center;
    padding: 15px 0px;
    
}
.nav_link {
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
}
.fa-circle-xmark {
    color: black;
}
.logo {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 2.2rem;
    margin-right: 20px;
    margin-top: 18px;
}
.menu_activate {
    left: 0px;
}
.hero_contain {
    text-align: center;
    width: 100vw;
    height: 35vh;
    color: var(--black);
    padding: 10px 20px;
}
.hero_title {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
}
.hero_text {
    font-size: 2.2rem;
    margin: 20px;
    
}

            /* CATALOG */
.catalog {
    width: 100vw;
    height: 100vh;
}
.carousel {
    width: 100vw;
    max-width: 120em;
    overflow: hidden;
}
.carousel .carousel_container {
    width: 500%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all 1s ease;
    transform: translateX(0%);
}
.carousel .card {
    width: calc(100% / 5);
    min-height: 10vh;
    margin: 20px;
}
.carousel ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.carousel .spot {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    border-radius: 50%;
    
    background-color: #cfcfcf;
}
.carousel .spot.activate {
    background-color: var(--red);
}
.title {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    text-align: center;
    font-size: 3rem;
}
.subtitle {
    font-size: 2.4rem;
}
.text, .text_link {
    font-size: 1.8rem;
    margin: 1rem 0rem;

}
.text_link {
    width: 50%;
    height: 3.5rem;
    border: var(--red) solid 2px;
    border-radius: 20px;
    text-align: center;
    color: var(--red);
    text-decoration: none;
    display: inline-block;
}
.text_link:hover {
    background-color: var(--red);
    color: white;
}
.photos img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}





@media (min-width: 1024px){
/* HERO */
    .hero{
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        height: 90vh;
   } 
   .fa-solid.desktop{
        display: none ;
   }
   .hero__main {
        height: 75vh;
   }
   .logo{
        position: absolute;
        left: 20px;
        text-align: center;
        color: black;
   }
   
   .nav_container{
        position: relative;
        left: 0;
        width: 100%;
        height: 100px;
        transition: none;
        background: transparent;
   }
   .nav_container ul {
        display: flex;
        justify-content: space-evenly;
   }
   .nav_link {
        color: white;
   }
   .nav_link:hover {
        border-bottom: 5px solid white;
        padding-bottom: 5px;
        transition: all .5s;
   }
   .hero_contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 75vh;
   }
/* CATALOG */
    .carousel {
        overflow:visible;
    }
    .carousel .carousel_container{
        width: 100vw;
        transition: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
        
    .carousel .card {
        width: fit-content;
    }
    .c_one {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .c_two {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .c_three {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .c_four {
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: stretch;
        height: 320px;
    }
    .c_five {
        grid-column: 3/5;
        grid-row: 1/3;
        align-self: stretch;
        height: 860px;
    }
    .c_five img, .c_four img {
        object-fit: cover;
    }
       
    .carousel ul {
        display: none;
    }
}

@media (min-width: 1440px) {
/* HERO */
    .hero__main {
        background-size: cover;
        background-position: 0px -250px;
        background-repeat: no-repeat;
    }
/* CATALOG */
    .c_four {
        height: 475px;
    }
    .c_five {
        height: 1170px;
    }
    .c_five img, .c_four img {
        object-fit: cover;
    }
}