
                /* HERO */
.hero {
    height: 100vh;
    position: relative;
}
.hero_background {
    width: inherit;
    height: inherit;
    z-index: -1;
    position: absolute;
}
.hero_background .back_image {
    
    width: inherit;
    height: inherit;
}
.hero_contain {
    text-align: center;
    width: 100vw;
    height: 35vh;
    color: var(--black);
    padding: 10px 20px;
}
.hero_title {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
}
.hero_text {
    font-size: 2.2rem;
    margin: 20px;
    
}

            /* CATALOG */
.catalog {
    width: 100vw;
}
.carousel {
    width: 100vw;
    max-width: 120em;
    overflow: hidden;
}
.carousel .carousel_container {
    width: 500%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all 1s ease;
    transform: translateX(0%);
}
.carousel .card {
    width: calc(100% / 5);
    min-height: 10vh;
    margin: 20px 20px 10px;
}
.carousel ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.carousel .spot {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    border-radius: 50%;
    
    background-color: #cfcfcf;
}
.carousel .spot.activate {
    background-color: var(--red);
}
.title {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    text-align: center;
    font-size: 3rem;
}
.subtitle {
    font-size: 2.4rem;
}
.text, .catalog_btn {
    font-size: 1.8rem;
    margin: 1rem 0rem;

}
.catalog_btn {
    width: 50%;
    height: 3.5rem;
    border: var(--red) solid 2px;
    border-radius: 20px;
    text-align: center;
    color: var(--red);
    text-decoration: none;
    display: inline-block;
}
.catalog_btn:hover {
    background-color: var(--red);
    color: white;
}
.photos img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(-1);
}

            /* BENEFITS */

.benefits {
    width: 100vw;
}
.benefits h2 {
    margin: 25px 0px;
}
.benefits_container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.benefits_container article {
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
}    
.benefits_image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.benefits_text {
    padding-left: 1rem;
}    

.benefits_text p {
    text-align: justify;
}








@media (min-width: 1024px){
/* HERO */
    .hero {
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        height: 90vh;
    }
    .nav_link {
        color: white;
    }
    .hero_background {
        width: 50vw;
    }
    .hero_background .back_image {
        object-fit: cover;
    }
   .hero_contain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 75vh;
   }
/* CATALOG */
    .carousel {
        overflow:visible;
    }
    .carousel .carousel_container{
        width: 100vw;
        transition: none;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
        
    .carousel .card {
        width: fit-content;
    }
    .c_one {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .c_two {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .c_three {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .c_four {
        grid-column: 2/3;
        grid-row: 2/3;
}
    .c_five {
        grid-column: 3/5;
        grid-row: 1/3;
        align-self: stretch;
        height: 860px;
    }
    .c_five img {
        object-fit: fill;
}
       
    .carousel ul {
        display: none;
    }
/* BENEFITS */
    
    .benefits_container {
        flex-direction: row;
        gap: 5rem;
        width: 80%;
        height: 80vh;
        margin: 0 auto;
    }
    .benefits_container article {
        height: inherit;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .benefits_text {
        padding-top: 3rem;
    }
    .benefits_image img {
        width: 200px;
        height: 200px;
    }
    .benefits_text, .benefits_text p{
        text-align: center;
    }   

    
    
}

@media (min-width: 1440px) {
/* HERO */
    .hero_background .back_image {
        object-position: 0px -250px;
    }
/* CATALOG */
    .c_five {
        height: 1170px;
    } 
    
/* BENEFITS */
    .benefits_image img {
        width: 250px;
        height: 250px;
    }

}