* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --red: #BB053A;
    --black: #110F0F;
    --gray: #F6F6F6;
}
html {
    font-size: 62.5%;
}

/* font-family: 'Neuton', serif; 400 y 500
font-family: 'Playfair Display', serif; */
body {
    position: relative;
    font-family: 'Neuton', serif;
    background-color: var(--gray);
}
                /* HERO */
.hero {
    height: 100vh;
    position: relative;
}
.hero__main {
    background: url(https://cdanae.github.io/recipe-web/images/citric-cake/citric-cake_S.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: 65vh;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.fa-bars{
    font-size: 2.8rem;
    margin: 2rem;
}
.nav_container {
    background-color: #eeecec;
    width: 170px;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: -180px;
    transition: all 1.5s;
}
.fa-circle-xmark {
    font-size: 2.5rem;
    margin: 10px;
}
.nav_container ul li {
    margin: 10px;
    list-style: none;
    cursor: pointer;
    text-align: center;
    padding: 15px 0px;
    
}
.nav_link {
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
 
}
.fa-circle-xmark {
    color: black;
}
.logo {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 2.2rem;
    margin-right: 2rem;
    margin-top: 1.8rem;
}
.menu_activate {
    left: 0px;
}
.hero_contain {
    text-align: center;
    width: 100vw;
    height: 35vh;
    color: var(--black);
    padding: 10px 20px;
}
.hero_title {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    
}
.hero_text {
    font-size: 2.2rem;
    margin-top: 20px;
}

            /* RECIPES */



@media (min-width: 1024px){
   header{
    display: flex;
    position: relative;
    flex-direction: row-reverse;
   } 
   .fa-solid.desktop{
    display: none ;
   }
   .hero__main {
    height: 75vh;
   }

   h1{
    position: absolute;
    left: 20px;
    text-align: center;
    color: black;
   }

   .nav_container{
    position: relative;
    left: 0;
    width: 100%;
    height: 100px;
    transition: none;
    background: transparent;
   }
   .nav_container ul {
    display: flex;
    justify-content: space-evenly;
   }
   .nav_link {
    color: white;
   }
   .hero_contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75vh;
   }

}